<div class="row_title">
    <mat-icon (click)="back()" class="btn_arrow" fontSet="material-icons-outlined">keyboard_backspace</mat-icon>
    <h2>Ankieta - {{this.questionaire?.title}}</h2>
    <!-- <div class="rate">
        <mat-icon color="primary">star</mat-icon>
        <mat-icon color="primary">star</mat-icon>
        <mat-icon color="primary">star</mat-icon>
        <mat-icon color="primary">star_half</mat-icon>
        <mat-icon color="primary">star_outline</mat-icon>
    </div> -->
    <div *ngIf="this.questionaire?.isActive" class="icons">
        <div class="circle_green"></div>
        <p>Aktywna</p>
    </div>
    <div *ngIf="!this.questionaire?.isActive" class="icons">
        <div class="circle_red"></div>
        <p>Nieaktywna</p>
    </div>
    
</div>
<div class="list_of_items">
    <div *ngFor="let questionnaire of this.questionsList; let i = index" class="items_conainer">
        
        <div *ngIf="this.questionsList![i].questionType == 'SINGLE_CHOICE'" class="card">
            <div class="column">
                <div class="title-of-question"> [{{i+1}}] <mat-icon color="primary" fontSet="material-icons-outlined">
                    check_box</mat-icon>
                    <div class="title">{{this.questionnaire.question}}</div>
                </div>
                <div class="answer_list">
                    <div *ngFor="let answer of questionnaire.answerVariants; let indexAnswer = index" class="answer">
                        {{alphabet[indexAnswer]}}. {{answer.answer}}
                    </div>
                </div>
            </div>
            <div id="chart">
                <apx-chart
                  [series]="arrayWithSeriesCount![i]"
                  [chart]="chartOptions.chart!"
                  [labels]="arrayWithLabelNames![i]"
                  [responsive]="chartOptions.responsive!"
                ></apx-chart>
            </div>
        </div>
        <div *ngIf="this.questionsList![i].questionType == 'MULTIPLE_CHOICE'" class="card">
            <div class="column">
                <div class="title-of-question"> [{{i+1}}] <mat-icon color="primary" fontSet="material-icons-outlined">
                    library_add_check</mat-icon>
                    <div class="title">{{this.questionnaire.question}}</div>
                </div>
                <div class="answer_list">
                    <div *ngFor="let answer of questionnaire.answerVariants; let indexAnswer = index" class="answer">
                        {{alphabet[indexAnswer]}}. {{answer.answer}}
                    </div>
                </div>
            </div>
            <div id="chart">
                <apx-chart
                  [series]="arrayWithSeriesCount![i]"
                  [chart]="chartOptions.chart!"
                  [labels]="arrayWithLabelNames![i]"
                  [responsive]="chartOptions.responsive!"
                ></apx-chart>
            </div>
        </div>

        <div *ngIf="questionnaire.questionType == 'TEXT'" class="card">
            <div class="column">
                <div class="title-of-question"> [{{i+1}}] <mat-icon color="primary" fontSet="material-icons-outlined">
                    notes</mat-icon>
                    <div class="title">{{questionnaire.question}}</div>
                </div>
                <div *ngIf="questionnaire.correct[0].length != 0" class="answer_list">
                    <div class="answer" *ngFor="let text of questionnaire.correct[0]; ;let iText = index">
                        <!-- 1. Dobre jedzenie<br>
                        2. Złe jedzenie<br>
                        3. Testowe testy testera testowego testującego test na teście testowym<br>
                        4. 5345345<br>
                        5. Alpy<br>
                        6. Koszyk<br> -->
                        {{iText+1}}. {{text}}
                    </div>
                </div>
                <div *ngIf="questionnaire.correct[0].length == 0" class="answer_list">
                    <div class="answer">
                        Brak zebranych odpowiedzi
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="questionnaire.questionType == 'RATING'" class="card">
            <div class="column">
                <div class="title-of-question"> [{{i+1}}] <mat-icon color="primary" fontSet="material-icons-outlined">
                    star_half</mat-icon>
                    <div class="title">{{questionnaire.question}}</div>
                </div>
                <div *ngIf="questionnaire.correct" class="answer_list star_list_answer">
                    {{questionnaire.correct}}.0
                    <div class="answer" [ngSwitch]="questionnaire.correct">
                        <div *ngSwitchCase="0" class="row_stars">
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                        </div>
                        <div *ngSwitchCase="1" class="row_stars">
                            <mat-icon class="rate">star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                        </div>
                        <div *ngSwitchCase="2" class="row_stars">
                            <mat-icon class="rate">star</mat-icon>
                            <mat-icon class="rate">star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                        </div>
                        <div *ngSwitchCase="3" class="row_stars">
                            <mat-icon class="rate">star</mat-icon>
                            <mat-icon class="rate">star</mat-icon>
                            <mat-icon class="rate">star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                        </div>
                        <div *ngSwitchCase="4" class="row_stars">
                            <mat-icon class="rate">star</mat-icon>
                            <mat-icon class="rate">star</mat-icon>
                            <mat-icon class="rate">star</mat-icon>
                            <mat-icon class="rate">star</mat-icon>
                            <mat-icon>star</mat-icon>
                        </div>
                        <div *ngSwitchCase="5" class="row_stars">
                            <mat-icon class="rate">star</mat-icon>
                            <mat-icon class="rate">star</mat-icon>
                            <mat-icon class="rate">star</mat-icon>
                            <mat-icon class="rate">star</mat-icon>
                            <mat-icon class="rate">star</mat-icon>
                        </div>
                    </div>
                </div>
                <div *ngIf="!questionnaire.correct" class="answer_list">
                    Brak zebranych odpowiedzi
                </div>
                <!-- <div id="chart">
                    <apx-chart
                    [series]="arrayWithSeriesCount![i]"
                    [chart]="chartOptions.chart!"
                    [labels]="arrayWithLabelNames![i]"
                    [responsive]="chartOptions.responsive!"
                    ></apx-chart>
                </div> -->
            </div>
        </div>
    </div>
</div>
