<div *ngIf="this.newUserPanel == false" (click)="panelNewUserCard()" class="add_user">
    Dodaj nowego użytkownika
</div>
<div *ngIf="this.newUserPanel == true" class="add_user_panel">
    <div class="header">
        <!-- <mat-icon class="icon" fontIcon="arrow_back"></mat-icon> -->
        Dane nowego użtkownika
    </div>
    <div class="content">
        <form [formGroup]="formAddUser" class="example-form">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Imię</mat-label>
              <input formControlName="name" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Nazwisko</mat-label>
              <input formControlName="surname" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Telefon</mat-label>
              <input formControlName="phone" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>E-mail</mat-label>
              <input formControlName="mail" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Rola</mat-label>
              <mat-select formControlName="role">
                <mat-option value="USER">
                  Użytkownik
                </mat-option>
                <mat-option value="ADMIN">
                  Administrator
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Stanowisko</mat-label>
              <input formControlName="position" matInput>
            </mat-form-field>
        </form>
        <div class="buttons">
            <button color="warn" (click)="panelNewUserCard()" mat-button>Anuluj</button>
            <button color="primary" (click)="addNewUser()" mat-button>Dodaj</button>
        </div>
    </div>
</div>
<app-users-list></app-users-list>
