.complete-button {
    position: fixed;
    bottom: 2.2%;
    right: 2%;
    // bottom: 30px;
    // right: 30px;
    // font-size: 75px;
    width: auto;
    height: auto;
    padding: none;
    // width: 75px;
    // height: 70px;
    background-color: transparent;
    // background-color: red;
    cursor: pointer;
    z-index: 999999;
    border-radius: 100%;
    display: flex;
    align-items: center;
    align-content: center;
}
mat-icon{
    font-size: 75px;
    width: 72px;
    height: 72px;
    z-index: 9999999;
}
.fill{
    background-color: #FFFFFF;
    position: absolute;
    left:11px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
mat-icon:hover {
    color: #3f51b5d0;
}
mat-icon:active {
    color: #37479e;
}

mat-card .mat-mdc-card{
    margin-bottom: 8px;
}
app-form-create-title{
    margin-bottom: 15px;
}