<app-form-create-title class="create-post"></app-form-create-title>

<div *ngFor="let item of list; let i = index">
    <div [ngSwitch]="item.witchQuestionType">
        <app-form-create-add-single-choice *ngSwitchCase="1" [index]="i"></app-form-create-add-single-choice>
        <app-form-create-add-multiply-choice *ngSwitchCase="2" [index]="i"></app-form-create-add-multiply-choice>
        <app-form-create-add-long-answer *ngSwitchCase="3" [index]="i"></app-form-create-add-long-answer>
        <app-form-create-add-rate *ngSwitchCase="4" [index]="i"></app-form-create-add-rate>
    </div>
</div>
<!-- <div *ngFor="let item of list; let i = index">
    <div [ngSwitch]="item.witchQuestionType">
        <app-form-create-add-single-choice *ngSwitchCase="1" [index]="i"></app-form-create-add-single-choice>
        <app-form-create-add-multiply-choice *ngSwitchCase="2" [index]="i"></app-form-create-add-multiply-choice>
        <app-form-create-add-long-answer *ngSwitchCase="3" [index]="i"></app-form-create-add-long-answer>
        <app-form-create-add-rate *ngSwitchCase="4" [index]="i"></app-form-create-add-rate>
    </div>
</div> -->
<!--
        <div *ngIf="this.questionsList![i].questionType == 'SINGLE_CHOICE'">
            <app-answer-form-single-choice [index]="i" [listOfQuestionToShow]="this.questionsList![i]">
            </app-answer-form-single-choice>
        </div>
        <div *ngIf="this.questionsList![i].questionType == 'MULTIPLE_CHOICE'">
            <app-answer-form-multiply-choice [index]="i" [listOfQuestionToShow]="this.questionsList![i]">
            </app-answer-form-multiply-choice>
        </div>
        <div *ngIf="this.questionsList![i].questionType == 'TEXT'">
            <app-answer-form-long-answer [index]="i" [listOfQuestionToShow]="this.questionsList![i]">
            </app-answer-form-long-answer>
        </div>
        <div *ngIf="this.questionsList![i].questionType == 'RATING'"
-->

<app-form-create-add-question class="create-post" style="margin-top: 8px;"></app-form-create-add-question>


<div class="complete-button"><div class="fill"></div><mat-icon  color="primary" (click)="submitForms()">check_circle</mat-icon><div class="fill"></div></div>