.complete-button{
    position:fixed;
    bottom:30px;
    right: 30px;
    font-size: 75px;
    width: 75px;
    height: 70px;
    cursor: pointer;
}


.complete-button:hover{
    color:#3f51b5d0;
}
.complete-button:active{
    color:#37479e;
}
.create-post {
    margin: 0.1px !important;
  }