<div class="container_list">
    <div class="items">
        <div class="item bg_card desktop info_card_header">
            <div class="row_list">
                <div class="icon_title">
                    <mat-icon class="green_c" fontIcon=""></mat-icon>
                </div>
                <div class="name txt_title">
                    <p>Nazwa ankiety</p>
                </div>
            </div>
            <div class="icons txt_title">
                <!-- <p>Typ</p> -->
            </div>
        </div>
        <div class="scroll">
            <!-- <div class="item item_padding" *ngFor="let questionnaire of this.questionnairesList">
                <div class="row_list">
                    <div class="icon desktop">
                        <mat-icon class="green_c questionnaire_icon" *ngIf="questionnaire.type == 'Osobista'" fontIcon="help_center"></mat-icon>
                        <mat-icon class="green_c questionnaires_icon" *ngIf="questionnaire.type == 'Ogólna'" fontIcon="quiz"></mat-icon>
                    </div>
                    <div class="name">
                        <p>{{questionnaire.name}}</p>
                    </div>
                </div>
                 <div class="icons">
                    <button class="btn_generate_new_personal">Wygeneruj osobistą</button>
                    <button (click)="clickItem(questionnaire.id)" class="btn_statistic">Statystyki</button>
                    <button (click)="openDialogCloseQuestionnaire('200ms', '100ms')" class="btn_close">Zakończ</button>
                </div> 
            </div> -->

            <mat-accordion class="mat_accord">
                <mat-expansion-panel *ngFor="let questionnaire of this.questionnairesList" hideToggle class="mat_panel">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="mat_title">
                        <div class="row_list">
                            <div class="icon desktop">
                                <mat-icon class="green_c questionnaire_icon" *ngIf="questionnaire.type == 'Osobista'" fontIcon="help_center"></mat-icon>
                                <mat-icon class="green_c questionnaires_icon" *ngIf="questionnaire.type == 'Ogólna'" fontIcon="quiz"></mat-icon>
                            </div>
                            <div class="name">
                                <p>{{questionnaire.name}}</p>
                            </div>
                        </div>
                        <div class="icons">
                            <button *ngIf="!questionnaire.personalList" class="btn_generate_new_personal">Wygeneruj osobistą</button>
                            <button (click)="clickItem(questionnaire.id)" class="btn_statistic">Statystyki</button>
                            <button (click)="openDialogCloseQuestionnaire('200ms', '100ms')" class="btn_close">Zakończ</button>
                        </div> 
                        <div class="mobile_icons">
                            <button *ngIf="!questionnaire.personalList" class="btn_generate_new_personal">Wygeneruj osobistą</button>
                            <button (click)="clickItem(questionnaire.id)" class="btn_statistic">Statystyki</button>
                            <button (click)="openDialogCloseQuestionnaire('200ms', '100ms')" class="btn_close">Zakończ</button>
                        </div> 
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p *ngIf="!questionnaire.personalList">Brak osobistych ankiet</p>
                  <!-- <p *ngIf="questionnaire.personalList">Lista osobistych ankiet</p> -->
                  <div *ngIf="questionnaire.personalList" class="personal_questionnaire_list">
                    <!-- <p>Lista osobistych ankiet</p> -->
                    <mat-icon class="icon_to_personal_list_arrow">keyboard_double_arrow_down</mat-icon>
                    <div class="item_personal" *ngFor="let questionnairePersonal of questionnaire.personalList">
                        <div class="row_list">
                            <div class="icon desktop">
                                <mat-icon class="green_c questionnaire_icon" fontIcon="help_center"></mat-icon>
                            </div>
                            <div class="name">
                                <p>{{questionnairePersonal.name}}</p>
                            </div>
                        </div>
                        <div class="icons">
                            <!-- <button class="btn_generate_new_personal">Wygeneruj osobistą</button> -->
                            <!-- <button (click)="clickItem(questionnairePersonal.id)" class="btn_statistic">Statystyki</button> -->
                            <button (click)="openDialogCloseQuestionnaire('200ms', '100ms')" class="btn_close">Zakończ</button>
                        </div> 
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>


        </div>
    </div>
</div>