@import '/src/style/colors.scss';
.container_list{
    display: flex;
    flex-direction: column;
    // background-color: #6397c9;
    // padding: 1rem;
    border-radius: 4px;
    // box-shadow: $box_shadow;
    // margin-bottom: 1rem;
}
.items{
    display: flex;
    flex-direction: column;
    // row-gap: 0.4rem;
}
.item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    // border-radius: 4px;
    box-shadow: $box_shadow;
    
}
.item_padding{
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    cursor: pointer;
}
.item_padding:hover{
    background-color: #fafafad3;
}
.row_list{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2rem;
    width: 100%;
}
.row_list p{
    margin: 0px;
    font-size: 0.9rem;
}
.icon{
    margin-left: 1rem;
    margin-top: 4px;
}
.icon_title{
    margin-left: 2.6rem;
    margin-top: 4px;
}
.icon_in_btn{
    margin-left: 0.5rem;
}
.name{
    // width: 20%;
}
.email{
    width: 50%;
}
.acronim{
    width: 15%;
}
.icons{
    display: flex;
    justify-content: flex-end;
    width: 30%;
    margin-right: 0rem;
    align-items: center;
    column-gap: 1rem;
}
.iconsPersonal{
    display: flex;
    justify-content: flex-end;
    width: 30%;
    margin-right: 0rem;
    align-items: center;
    column-gap: 1rem;
}
.icons img{
    width: 30px;
}
.icons p{
    margin: 0px;
}
.green_c{
    color: #4bddc0;
}
.grey_c{
    color: #ccc;
}
.red_c{
    color: #fd5370;
}
.btn{
    width: 6%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.btn p{ 
    margin: 0px;
}
.action_txt{
    justify-content: center!important;
    color: #fff;
}
.txt_title p{
    font-weight: 700;
}
.bg_card{
    background-color: #3f51b5;//DADDE2
    color: #fff;
}
.mobile{
    display: none;
}
.spinner{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    // right: 50%;
}
.scroll{
    max-height: calc(100vh - 288px);
    overflow: auto;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // border-bottom-left-radius: 4px;
    // border-bottom-right-radius: 4px;
    // box-shadow: $box_shadow;
    // row-gap: 0.4rem;
}
.info_card_header{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 2px 0px;
}
.settings_icon{
    margin-right: 0.5rem;
    cursor: pointer;
}
.questionnaire_icon{
    padding-left: 1px;
}
.questionnaires_icon{
    padding-right: 1px;
}
.btn_generate_new_personal{
    background-color: #3f51b5;
    border: none;
    padding: 6px 12px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    min-width: 150px;
}
.btn_statistic{
    background-color: #3f51b5;
    border: none;
    padding: 6px 12px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}
.btn_close{
    background-color: #d43535;
    border: none;
    padding: 6px 12px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}
.btn_edit{
    background-color: #c4d620;
    border: none;
    padding: 6px 12px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}
.mat_accord{
    width: 100%;
}
.item_personal{
    display: flex;
    flex-direction: row;
    // width: 100%;
    // padding: 1rem;
    // margin-left: 1rem;
    margin-right: 1.5rem;
}
.icon_to_personal_list_arrow{
    margin-bottom: 8px;
    margin-left: 1rem;
}
.personal_questionnaire_list{
    margin-left: 3.2rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}










.mobile_icons{
    display: none;
}


@media only screen and (max-width: 900px){
    .row_list{
        flex-direction: column;
        align-items: flex-start;
        // margin-left: 1rem;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: flex;
        align-items: center;
    }
    .icon{
        margin-left: 1rem;
    }
    .name{
        width: auto;
    }
    .icons{
        width: auto;
        margin-right: 1rem;
        align-items: center;
    }
    .item{
        box-shadow: $box_shadow;
        
    }
    .icons{
        display: none;
    }
    .mobile_icons{
        display: flex;
        column-gap: 8px;
        flex-wrap: wrap;
        row-gap: 6px;
    }
    .mat_title{
        display: flex;
        align-items: start;
        flex-direction: column;
        row-gap: 6px;
        margin-right: 0px;
    }
    .mat_panel{
        // height: 80px;
        // align-items: center;
    }
    mat-expansion-panel-header{
        padding-top: 26px;
        padding-bottom: 26px;
    }
    .personal_questionnaire_list {
        margin-left: 0rem;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
    .item_personal{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: auto;
        margin-right: 0rem;
        align-items: center;
        column-gap: 1rem;
        row-gap: 8px;
        border-right: 3px solid #3f51b5;
    }
    .iconsPersonal {
        display: flex;
        justify-content: start;
        width: 100%;
        margin-right: 0rem;
        align-items: center;
        column-gap: 1rem;
    }
    
}