<div class="container_list">
    <div class="items">
        <div class="item bg_card desktop info_card_header">
            <div class="row_list">
                <div class="icon_title">
                    <mat-icon class="green_c" fontIcon=""></mat-icon>
                </div>
                <div class="name txt_title">
                    <p>Nazwa ankiety</p>
                </div>
            </div>
            <div class="icons txt_title">
                <!-- <p>Typ</p> -->
            </div>
        </div>
        <div class="scroll">
            <mat-accordion class="mat_accord">
                <mat-expansion-panel *ngFor="let questionnaire of this.usersAnkietaList" hideToggle class="mat_panel">
                  <mat-expansion-panel-header *ngIf="questionnaire.questionnaireType == 'GLOBAL'">
                    <mat-panel-title class="mat_title">
                        <div class="row_list">
                            <div class="icon desktop">
                                <mat-icon *ngIf="questionnaire.isPublic == true && questionnaire.isActive == true" class="green_c questionnaire_icon" fontIcon="quiz"></mat-icon>
                                <mat-icon *ngIf="questionnaire.isPublic == false  && questionnaire.isActive == true" class="gray_c questionnaire_icon" fontIcon="quiz"></mat-icon>
                                <mat-icon *ngIf="questionnaire.isActive == false" class="red_c questionnaire_icon" fontIcon="quiz"></mat-icon>
                            </div>
                            <div class="name">
                                <p>{{questionnaire.title}}</p>
                            </div>
                        </div>
                        <div class="icons">
                            <button (click)="generatePersonal(questionnaire.id)" class="btn_generate_new_personal" (click)="$event.stopPropagation()">Wygeneruj osobistą</button>
                            <button (click)="clickItem(questionnaire.id)" class="btn_statistic" (click)="$event.stopPropagation()">Statystyki</button>
                            <!-- <button (click)="editQuestionnaire(questionnaire.id)" class="btn_edit" (click)="$event.stopPropagation()">Edytuj</button> -->
                            <button (click)="openDialogCloseQuestionnaire('200ms', '100ms', questionnaire.id)" class="btn_close" (click)="$event.stopPropagation()">Zakończ</button>
                        </div> 
                        <div class="mobile_icons">
                            <button (click)="generatePersonal(questionnaire.id)" class="btn_generate_new_personal" (click)="$event.stopPropagation()">Wygeneruj osobistą</button>
                            <button (click)="clickItem(questionnaire.id)" class="btn_statistic" (click)="$event.stopPropagation()">Statystyki</button>
                            <!-- <button (click)="editQuestionnaire(questionnaire.id)" class="btn_edit" (click)="$event.stopPropagation()">Edytuj</button> -->
                            <button (click)="openDialogCloseQuestionnaire('200ms', '100ms', questionnaire.id)" class="btn_close" (click)="$event.stopPropagation()">Zakończ</button>
                        </div> 
                        <!-- <div class="btn_more">Rozwiń</div> -->
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <!-- <p *ngIf="questionnaire.type == 'GLOBAL'">Brak osobistych ankiet</p> -->
                  <div class="personal_questionnaire_list">
                    <!-- <mat-icon class="icon_to_personal_list_arrow">keyboard_double_arrow_down</mat-icon> -->
                    <mat-icon class="icon_to_personal_list_arrow">keyboard_double_arrow_down</mat-icon>
                    <div class="item_personal" *ngFor="let questionnairePersonal of this.usersAnkietaPersonalList">
                        <!-- <p *ngIf="">Brak osobistych ankiet</p> -->
                        <div *ngIf="questionnairePersonal.parentId == questionnaire.id || questionnaire.questionnaireType == 'PRIVATE'" class="personal_container">
                            <div class="row_list">
                                <div class="icon desktop">
                                    <mat-icon *ngIf="questionnaire.isActive == true" class="green_c questionnaire_icon" fontIcon="help_center"></mat-icon>
                                    <mat-icon *ngIf="questionnaire.isActive == false" class="red_c questionnaire_icon" fontIcon="help_center"></mat-icon>
                                </div>
                                <div class="name">
                                    <p>{{questionnairePersonal.title}}</p>
                                </div>
                            </div>
                            <div class="iconsPersonal">
                                <button (click)="personalQuestionnaire(questionnairePersonal.id)" class="btn_statistic">Informacje</button>
                                <!-- <button (click)="editQuestionnairePersonal(questionnairePersonal.id)" class="btn_edit" (click)="$event.stopPropagation()">Edytuj</button> -->
                                <button (click)="openDialogCloseQuestionnairePersonal('200ms', '100ms', questionnairePersonal.id)" class="btn_close">Zakończ</button>
                            </div> 
                        </div>
                    </div>
                  </div>
                </mat-expansion-panel>
            </mat-accordion>
            <div *ngIf="this.loadingAnkietaList" class="spinner">
                <mat-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value">
                </mat-progress-spinner>
            </div>

        </div>
    </div>
</div>