<div class="card">
    <h1 class="title">Ustaw nowe hasło</h1>
    <div mat-dialog-content>
        <form [formGroup]="formNewPassword">
            <mat-form-field class="form-field" appearance="outline">
                <mat-label>hasło</mat-label>
                <input type="password" formControlName="password" matInput  >
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
                <mat-label>powtórz hasło</mat-label>
                <input type="password" formControlName="password2" matInput  >
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            </mat-form-field>
        </form>
    </div>
    <div mat-dialog-actions class="btn_container">
        <button mat-button (click)="Close()" mat-dialog-close>Anuluj</button>
        <button mat-button [disabled]="!this.formNewPassword.valid" (click)="Add()" color="primary" cdkFocusInitial>Zapisz</button>
    </div>
</div>
