.card{
    // padding: 1rem;
    // margin-left: 5rem;
}
.btn_container{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.title{
    padding: 1rem;
    padding-bottom: 0rem;
    margin: 0px;
}