@import '/src/style/colors.scss';
.content{
    padding:0 20% 0 20%;
    overflow: auto;
    height: 100vh;
}
.all-answer-page{
    background-color: $background-color;
    height: 100vh;

}
@media only screen and (max-width:800px) {
    .content{
        padding:0 0 0 0;
    }
    .all-answer-page{
        background-color: none;
    
    }
}