<div class="all-answer-page">

    <div class="content">
        <div *ngIf="!allFormsManagementService.didYouEndAnswering; else elseBlock">

            <app-answer-form-title [titleForm]="titleForm" [descriptionForm]="descriptionForm"></app-answer-form-title>
            <!-- Utworzyć switch case do wyświetlania ankiety -->
            <div *ngFor="let item of listOfQuestionToShow; let i = index">
                <div [ngSwitch]="listOfQuestionToShow[i].typeOfQuestion">
                    <div *ngSwitchCase="0">
                        <app-answer-form-single-choice [index]="i" [listOfQuestionToShow]="listOfQuestionToShow[i]">
                        </app-answer-form-single-choice>
                    </div>
                    <div *ngSwitchCase="1">
                        <app-answer-form-multiply-choice [index]="i" [listOfQuestionToShow]="listOfQuestionToShow[i]">
                        </app-answer-form-multiply-choice>
                    </div>
                    <div *ngSwitchCase="2">
                        <app-answer-form-long-answer [index]="i" [listOfQuestionToShow]="listOfQuestionToShow[i]">
                        </app-answer-form-long-answer>
                    </div>
                    <div *ngSwitchCase="3">
                        <app-answer-form-rate [index]="i" [listOfQuestionToShow]="listOfQuestionToShow[i]">
                        </app-answer-form-rate>
                    </div>
                    <div *ngSwitchDefault>błąd</div>
                </div>
            </div>
            <div *ngFor="let item of listOfQuestion; let i = index">

                <div *ngIf="item.questionType == 'SINGLE_CHOICE'">
                    <app-answer-form-single-choice [index]="i" [listOfQuestionToShow]="item">
                    </app-answer-form-single-choice>
                </div>
                <div *ngIf="item.questionType == 'MULTIPLE_CHOICE'">
                    <app-answer-form-multiply-choice [index]="i" [listOfQuestionToShow]="item">
                    </app-answer-form-multiply-choice>
                </div>
                <div *ngIf="item.questionType == 'TEXT'">
                    <app-answer-form-long-answer [index]="i" [listOfQuestionToShow]="item">
                    </app-answer-form-long-answer>
                </div>
                <div *ngIf="item.questionType == 'RATING'">
                    <app-answer-form-rate [index]="i" [listOfQuestionToShow]="item">
                    </app-answer-form-rate>
                </div>
            </div>

            <app-answer-form-confirm *ngIf="isError===false"></app-answer-form-confirm>
        </div>
        <ng-template #elseBlock>
            <app-answer-form-title titleForm="Dziękuje za wykonanie ankiety"> </app-answer-form-title>
        </ng-template>
    </div>

</div>
