<div class="page">
    <div class="titles_container">
        <div class="left">
            <div class="title">
                <p>Uzyskane odpowiedzi</p>
            </div>
        </div>
        <div class="right">
            <div class="title">
                <p>Szczegóły</p>
            </div>
        </div>
    </div>
    <div class="main_container">
        <div class="left">
            <div class="mobile_ title">
                <p>Uzyskane odpowiedzi</p>
            </div>
            <app-done-answers-preview-personal-questionnaire></app-done-answers-preview-personal-questionnaire>
        </div>
        <div class="right">
            <div class="mobile_ title">
                <p>Szczegóły</p>
            </div>
            STATYSTYKI / INFORMACJE
        </div>
    </div>
</div>