@import "/src/style/colors.scss";

.box{
  width: 100vw;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans serif;
}
.container{
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header{
  color: #fff;
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px;
  font-family: 'Poppins', sans serif;
}
.top-header{
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
}
.top-header span{
  color: #fff;
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px;
  font-family: 'Poppins', sans serif;
}
.top-header img{
  width: 40px;
  margin-right: 1rem;
}
.input-field{
  width: 100%;
  height: 50px;
}
input{
  font-family: 'Poppins', sans serif;
}
.input-field input{
  width: 86%;
  height: 36px;
  border-radius: 30px;
  border: none;
  outline: none;
  color: #fff;
  padding: 0 0 0 50px;
  color: #000;
  background: #fff;
}
.input-field-submit{
  width: 100%;
  height: 50px;
}
.input-field-submit input{
  width: 100%;
  height: 36px;
  border-radius: 30px;
  border: none;
  outline: none;
  color: #fff;
  padding: 0 0 0;
  color: #fff;
  background: #2d3e9b;
  cursor: pointer;
}
.input-field-password a{
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
mat-icon{
  position: relative;
  top: -30px;
  left: 12px;
}