@import "/src/style/colors.scss";

.login-card {
  max-width: 400px;
  padding: 2rem;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.form-container{
// background-color: red;
justify-content: center;
align-items: center;
row-gap: 500px;
}

// mat-form-field {

//   padding-top: 0.3rem;
// }
// mat-card-title{
  // padding-bottom: 1rem;
// }
mat-card-header{
  padding-top:0px;
  padding-bottom: 1rem;
}
::ng-deep .mat-form-field-wrapper{
    margin-bottom: -1.25em;
 }
.mat-raised-button,
.mat-button {
    width: 100%;
}
.login{
  display: block;
  width: 100%;
}
.remind-password{
  display: block;
  width: 100%;
}
.form-field {
  display: block;
}