<mat-card class="login-card">
    <mat-card-header>
        <mat-card-title>Podaj nowe hasło </mat-card-title>
    </mat-card-header>
    <mat-card-content class="form-container">
        <form [formGroup]="resetPasswordForm" (submit)="submit()">
            <mat-form-field class="form-field" appearance="outline">
                <mat-label>nowe hasło</mat-label>
                <input type="password" formControlName="newPassword1" matInput  >
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
                <mat-label>powtórz hasło</mat-label>
                <input type="password" formControlName="newPassword2" matInput >
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            </mat-form-field>
            <button mat-raised-button color="primary" class="login" type="submit">Zatwierdź</button>
        </form>
    </mat-card-content>
</mat-card>