@import '/src/style/colors.scss';
.title-of-question-and-delete-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px 5px 0px;
}
.title-of-question{
    font-size: medium;
    display: flex;
    align-items:flex-end;
}
.title-of-question mat-icon{
    display: flex;
    align-items: flex-end;
    font-size: 1.4em;
}
.title{
    display: flex;
    font-size: 1rem;
    font-weight: 700;

}
img{
    width: 110px;
    margin-right: 1rem;
    margin-top: 8px;
}

.title_component{
    padding-top: 0.5rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #8b326c;
    color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.description{
    background-color: #8b326c;
    color: #fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}


.delete-question {
    display: flex;
    flex-direction: row-reverse;
}
.delete-question mat-icon {
    margin-right: 0;
}
.full-width-field {
    width: 100%;
}
.answer {
    display: flex;
    align-items: center;
    padding-left: 8px;
}

.idex-of-answer{
    width: 25px;
    // background-color: red;
}

.mat-mdc-card-content:first-child {
    padding-top: 0px;
}

// .new-answer {
//     // background-color: red;
// }

::ng-deep.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #ffffff;
}
.title-card{
    // border-bottom: 3px solid $modern_style_1_btn;
    
}
.image{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    // border-bottom: 3px solid #8b326c;
}
.image img{
    margin-bottom: 1rem;
}



@media only screen and (max-width:800px) {
    .description{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .title_component{
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
}