.title-of-question {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
}
.number-and-icon{
    display: flex;
    align-items: center;
}
.question {
    padding-left: 16px;
}

.title-of-question {

    align-items: flex-start;
}