.give-title{
    width:100%;
}
.full-width-field {
    width: 100%;
  }
  mat-card{
    margin-bottom: 8px;
  }
  ::ng-deep.mdc-text-field--filled:not(.mdc-text-field--disabled){
    background-color: #FFFFFF;
}

 