<mat-card>
    <mat-card-content class="form-container">
        <!-- <div class="title-of-question">
            <div class="number-and-icon">
                <mat-icon color="primary" fontSet="material-icons-outlined">check_box</mat-icon>
                {{index+1}}.
            </div>
            <div class="question">{{listOfQuestionToShow.question}}<div class="errorStar"
                    *ngIf="listOfQuestionToShow.isAnswerRequired">*</div>
            </div>
        </div> -->
        <div>
            <div class="new-answer-title-question">
                <mat-icon color="primary" fontSet="material-icons-outlined">check_box</mat-icon>
                <div class="new-answer-title-question-number">
                    {{index+1}}.

                    {{listOfQuestionToShow.question}}<div class="errorStar"
                        *ngIf="listOfQuestionToShow.isAnswerRequired">*
                    </div>
                </div>
            </div>
        </div>


        <div>
            <mat-radio-group class="answer-field" appearance="outline" [(ngModel)]="selectedRatio"
                (change)="onRatioChange()">
                <mat-radio-button *ngFor="let item of listOfQuestionToShow.answerVariants" class="answer"
                    [value]="item.id" (click)="getClick(item.answer)">
                    {{item.answer}}</mat-radio-button>
            </mat-radio-group>
        </div>
    </mat-card-content>
</mat-card>