<div class="page">
    <div class="card">
        <!--------------------------------------------------------------->
        <div *ngIf="isPhoneArrayIsEmpty()" class="btn_add_metadate" (click)="addPhone()">
            Dodaj numer telefonu
        </div>
        <div *ngIf="!isPhoneArrayIsEmpty()" class="matadate_card">
            <div class="title-of-question">
                <h3>Telefon</h3>
                <h3 class="phone" (click)="addPhone()">Dodaj pole telefoniczne</h3>
            </div>
            <div class="add-lessons-form" [formGroup]="keyInputs">
                <div formArrayName="phone" class="metadate_container">
                    <div *ngFor="let phoneForm of phone.controls; let i = index" [formGroupName]="i" class="meta_row">
                        <!-- <div class="lesson-form-row" [formGroup]="inputForm"> -->
                            <mat-form-field appearance="outline" class="full-width-field">
                                <input matInput type="number" formControlName="number" placeholder="numer telefonu">
                            </mat-form-field>
                            <mat-icon class="delete-btn_1" (click)="deletePhone(i)">delete_forever</mat-icon>
                    </div>
                </div>
                <!-- <div class="btn_add_new_metadate" (click)="addPhone()">
                    Dodaj kolejny numer
                </div> -->
            </div>
        </div>
        <!--------------------------------------------------------------->
        <div *ngIf="isMailArrayIsEmpty()" class="btn_add_metadate" (click)="addMail()">
            Dodaj maila
        </div>
        <div *ngIf="!isMailArrayIsEmpty()" class="matadate_card">
            <div class="title-of-question">
                <h3>Mail</h3>
                <h3 (click)="addMail()" class="mail">Dodaj pole mailowe</h3>
            </div>
            <div class="add-lessons-form" [formGroup]="keyInputs">
                <div formArrayName="mail" class="metadate_container">
                    <div *ngFor="let mailForm of mail.controls; let i = index" [formGroupName]="i" class="meta_row">
                        <!-- <div class="lesson-form-row" [formGroup]="inputForm"> -->
                            <mat-form-field appearance="outline" class="full-width-field">
                                <input matInput formControlName="mail" placeholder="adres mail">
                            </mat-form-field>
                            <mat-icon class="delete-btn_1" (click)="deleteMail(i)">delete_forever</mat-icon>
                    </div>
                </div>
                <!-- <div class="btn_add_new_metadate" (click)="addMail()">
                    Dodaj kolejny mail
                </div> -->
            </div>
        </div>
        <!--------------------------------------------------------------->
        <div *ngIf="isKeyArrayEmpty()" class="btn_add_metadate" (click)="addMetadate()">
            Dodaj metadane
        </div>
        <div *ngIf="!isKeyArrayEmpty()" class="matadate_card">
            <div class="title-of-question">
                <h3>Metadane</h3>
                <h3 class="metadate" (click)="addMetadate()">Dodaj pole metadanowe</h3>
            </div>
            <div class="add-lessons-form" [formGroup]="keyInputs">
                <div formArrayName="input" class="metadate_container">
                    <div *ngFor="let inputForm of input.controls; let i = index" [formGroupName]="i" class="meta_row">
                        <!-- <div class="lesson-form-row" [formGroup]="inputForm"> -->
                            <mat-form-field appearance="outline">
                                <input matInput formControlName="key" placeholder="klucz">
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="full-width-field">
                                <input matInput formControlName="value" placeholder="wartość">
                            </mat-form-field>
                            <mat-icon class="delete-btn" (click)="deleteMetadate(i)">delete_forever</mat-icon>
                    </div>
                </div>
                <!-- <div class="btn_add_new_metadate" (click)="addMetadate()">
                    Dodaj nowe metadane
                </div> -->
            </div>
        </div>
        <!--------------------------------------------------------------->
    </div>
    <!-- <div class="submit_card">
        Wygeneruj ankietę
    </div> -->
    <div class="contact_container">
        <div class="title-of-question">
        <h3>Lista dodanych kontaków</h3>
        </div>
        <div class="contact_list">
            lista - 544 434 644
        </div>
    </div>
</div>