<mat-card>
    <mat-card-content>
        Dodaj kolejne pytanie:
        <button mat-button color="primary" (click)="oneChoiceCreate()">jednokrotny wybór</button>
        <button mat-button color="primary" (click)="fewChoiceCreate()">wielokrotny wybór</button>
        <button mat-button color="primary" (click)="longAnswerCreate()">długa odpowiedź</button>
        <button mat-button color="primary" (click)="rateCreate()">ocena</button>
        <div class="space_for_end"></div>
    </mat-card-content>
</mat-card>