.container_list{
    position: absolute;
    bottom: 16px;
    right: 16px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}
.card{
    background-color: #12c99b;
    border-radius: 12px;
    padding: 16px 22px 17px 20px;
    display: flex;
    align-items: center;
    // bottom: 16px;
    // right: 16px;
    // z-index: 9999;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    min-width: 250px;
    align-items: center;
    justify-content: space-between;
}
.left{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
}
.left mat-icon{
    width: 28px;
}
.card mat-icon{
    color: #fff;
}
.message{
    color: #fff;
    max-width: 300px;
}
.title{
    font-size: 1rem;
    font-weight: 700;
}
.right mat-icon{
    cursor: pointer;
}

@media only screen and (max-width: 800px){
.container_list{
    width: 100%;
}
.card{
    margin-left: 2rem;
    // margin-right: 1rem;
    width: auto;
}
.message{
    max-width: 100%;
}
.left mat-icon{
    overflow: initial;
}
}
