<mat-card class="login-card">
    <mat-card-header>
        <mat-card-title>Zaloguj</mat-card-title>
    </mat-card-header>
    <mat-card-content class="form-container">
        <mat-form-field class="form-field" appearance="outline">
            <mat-label>email</mat-label>
            <input matInput placeholder="Placeholder">
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
            <mat-label>hasło</mat-label>
            <input matInput placeholder="Placeholder">
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        </mat-form-field>
        <button mat-raised-button color="primary" class="login">Zaloguj się</button>
        <button mat-button color="primary" class="remind-password" routerLink="/remind-password">Przypomnij hasło</button>
    </mat-card-content>
</mat-card>