<div class="page">
    <div class="titles_container">
        <div class="left">
            <div class="title">
                <mat-icon (click)="back()" class="btn_arrow" fontSet="material-icons-outlined">keyboard_backspace</mat-icon>
                <p>Podgląd na żywo</p>
            </div>
        </div>
        <div class="right">
            <div class="title">
                <p>Spersonalizuj ankietę dla obiorcy</p>
                <button [disabled]="this.questionnaireListManager.loadingSendPrivateQuestionnaire" (click)="postQuestionnairePrivate()" class="submit_btn">Wygeneruj ankietę</button>
            </div>
        </div>
    </div>
    <div class="main_container">
        <div class="right">
            <div class="mobile_ title">
                <div class="row_mobile_title_left">
                    <mat-icon (click)="back()" class="btn_arrow" fontSet="material-icons-outlined">keyboard_backspace</mat-icon>
                    <p>Spersonalizuj ankietę</p>
                </div>
                <div  (click)="postQuestionnairePrivate()" class="submit_btn">Wygeneruj</div>
            </div>
            <app-panel-to-create-personal-questionnaire></app-panel-to-create-personal-questionnaire>
        </div>
        <div class="left">
            <div class="mobile_ title">
                <p>Podgląd na żywo</p>
            </div>
            <app-preview-personal-questionnaire></app-preview-personal-questionnaire>
        </div>
    </div>
</div>

