@import '/src/style/colors.scss';
.title-of-question-and-delete-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px 5px 0px;
}
.title-of-question {
    font-size: medium;
    display: flex;
    align-items: center;
}
.title-of-question mat-icon {
    display: flex;
    align-items: flex-end;
    font-size: 1.4em;
}

.delete-question {
    display: flex;
    flex-direction: row-reverse;
}
.right-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.question{
    display: flex;
}

.delete-question mat-icon {
    margin-right: 0;
}
.full-width-field {
    width: 100%;
}
.answer {
    display: flex;
    align-items: center;
    padding-left: 8px;
}

.idex-of-answer {
    width: 25px;
    // background-color: red;
}
.addNew{
    color: #717171;
    font-size: medium;
}
mat-card {
    padding-top: 0;
    border-radius: 0 0 0 0;
    border-bottom: 3px solid $modern_style_1_btn;
}
.mat-mdc-card-content:first-child {
    padding-top: 0px;
}

// .new-answer {
//     // background-color: red;
// }

::ng-deep.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #ffffff;
}
