<div class="container_list">
    <div class="items">
        <div class="item bg_card desktop info_card_header">
            <div class="row_list">
                <div class="icon">
                    <mat-icon class="green_c" fontIcon=""></mat-icon>
                    <!-- <mat-icon class="red_c" *ngIf="user.status == 'nieaktywny'" fontIcon="person"></mat-icon> -->
                    <!-- <mat-icon class="grey_c" *ngIf="user.status == 'archiwum'" fontIcon="person"></mat-icon> -->
                </div>
                <div class="name txt_title">
                    <p>Imię Nazwisko</p>
                </div>
                <!-- <div class="icons txt_title">
                    <p>Dostęp</p>
                </div> -->
                <div class="acronim txt_title">
                    <p>Rola</p>
                </div>
                <div class="email txt_title">
                    <p>E-mail</p>
                </div>
            </div>
            <!-- <div class="btn action_txt txt_title">
                <p>Akcja</p>
            </div> -->
            <div class="icons txt_title">
                <p>Edycja</p>
            </div>
        </div>
        <div [ngClass]="{'scroll_enable_add_user': true}" class="scroll">
            <div class="item item_padding" (click)="editUser(user.id)" *ngFor="let user of this.usersList">
                <div class="icon mobile">
                    <mat-icon class="green_c " *ngIf="user.isActive == true && user.archived == false" fontIcon="person"></mat-icon>
                    <mat-icon class="red_c" *ngIf="user.isActive == false && user.archived == false" fontIcon="person"></mat-icon>
                    <mat-icon class="grey_c" *ngIf="user.archived == true" fontIcon="person"></mat-icon>
                </div>
                <div class="row_list">
                    <div class="icon desktop">
                        <mat-icon class="green_c " *ngIf="user.isActive == true && user.archived == false" fontIcon="person"></mat-icon>
                        <mat-icon class="red_c" *ngIf="user.isActive == false && user.archived == false" fontIcon="person"></mat-icon>
                        <mat-icon class="grey_c" *ngIf="user.archived == true" fontIcon="person"></mat-icon>
                    </div>
                    <div class="name">
                        <p>{{user.name}} {{user.surname}}</p>
                    </div>
                    <!-- <div class="icons">
                        <img *ngIf="user.mobileCash" src="./assets/mobilna_kasa.ico" alt="">
                    </div> -->
                    <div class="acronim">
                        <p>{{user.role}}</p>
                    </div>
                    <div class="email">
                        <p>{{user.email}}</p>
                    </div>
                </div>
                <!-- <div class="btn">
                    <button (click)="editUser(user.id)" mat-raised-button color="primary"><mat-icon fontIcon="settings"></mat-icon></button>
                </div> -->
                 <div class="icons">
                    <mat-icon [matMenuTriggerFor]="menu" class="settings_icon" fontIcon="settings"></mat-icon>
                </div> 
                <mat-menu #menu="matMenu">
                    <button (click)="openDialogNewPassword('200ms', '100ms', user.id)" mat-menu-item>Zmiana hasła użytkownika</button>
                    <button (click)="openDialogChangeRole('200ms', '100ms', user.id, user.role)" mat-menu-item>Zmiana roli użytkownika</button>
                    <button *ngIf="user.isActive == true" (click)="openDialogDeactivateUser('200ms', '100ms', user.id)" mat-menu-item>Dezaktywuj użytkownika</button>
                    <button *ngIf="user.isActive == false" (click)="openDialogActiveUser('200ms', '100ms', user.id)" mat-menu-item>Aktywacja użytkownika</button>
                </mat-menu>
            </div>
        </div>
        
    </div>
    <div *ngIf="this.loadingUsersList" class="spinner">
        <mat-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value">
        </mat-progress-spinner>
    </div>
</div>