<div class="card">
    <h2 class="title_txt">Wyszukiwarka</h2>
    <div class="search_container">
          <form [formGroup]="searchForm" class="search_row">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Nazwa</mat-label>
              <input formControlName="title" matInput>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Twórca</mat-label>
                <input formControlName="name" matInput>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Opis</mat-label>
                <input formControlName="description" matInput>
            </mat-form-field>
            <!-- INPUT ZAKRES DAT -->
            <mat-form-field appearance="outline" class="extraGap2">
                <mat-label>Status</mat-label>
                <mat-select formControlName="isActive">
                    <mat-option value='all'> Wszystkie</mat-option>
                    <mat-option [value]=true> Aktywne</mat-option>
                    <mat-option [value]=false> Nieaktywne</mat-option>
                </mat-select>
            </mat-form-field> 
            <div class="btn_search_container">
                <button [disabled]="false" (click)="search()" class="btn_search">Wyszukaj</button>
            </div> 
            
                <!-- //this.managementMaagerRest.loading -->

          </form>
    </div>
</div>

