.title-of-question {
    display: flex;
    align-items: center;
    padding-bottom: 12px;
    padding-top:8px;
}
.number-and-icon{
    display: flex;
    align-items: center;
}
.question {
    padding-left: 16px;
}
.answer-field{
    padding-left: 8px;
}
.title-of-question {

    align-items: flex-start;
}
.mat-mdc-checkbox.mat-accent {
    --mdc-checkbox-selected-focus-icon-color: #3f51b5;
    --mdc-checkbox-selected-hover-icon-color: #3f51b5;
    --mdc-checkbox-selected-icon-color: #3f51b5;
    --mdc-checkbox-selected-pressed-icon-color: #3f51b5;
}

.mat-mdc-checkbox.mat-accent {
    --mdc-checkbox-selected-focus-icon-color: #3f51b5;
    --mdc-checkbox-selected-hover-icon-color: #3f51b5;
    --mdc-checkbox-selected-icon-color: #3f51b5;
    --mdc-checkbox-selected-pressed-icon-color: #3f51b5;}
