.card_answer_container{
    display: flex;
    flex-direction: column;
    // row-gap: 1rem;
}
.card_answer{
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid #3f51b5;
}
.title-of-question{
    font-size: medium;
    display: flex;
    align-items:flex-end;
}
.title-of-question mat-icon{
    display: flex;
    align-items: flex-end;
    font-size: 1.4em;
}
.answer_list{
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    padding: 1rem;
}
.star_list_answer{
    display: flex;
    flex-direction: row;
    column-gap: 0.8rem;
    padding: 1rem;
    align-items: center;
}
.rate{
    color: #3f51b5;
}
.selected_answer{
    background-color: #72d33a;
    width: fit-content;
    padding: 0rem 0.5rem;
    border-radius: 10px;
}
.no_selected_answer{
    padding: 0rem 0.5rem;
}