<div class="card_answer_container">
    <div *ngFor="let answer of this.questionsList; let i = index">
        <div *ngIf="this.answersSumNumber">
            <!---------------------------------CARD--------------------------------->
            <div *ngIf="this.questionsList![i].questionType == 'SINGLE_CHOICE'" class="card_answer">
                <div class="title-of-question"> [{{i+1}}] <mat-icon color="primary" fontSet="material-icons-outlined">
                    check_box</mat-icon>
                    <div class="title">{{answer.question}}</div>
                </div>
                <div class="answer_list">
                    <div *ngFor="let selectAnswer of answer.answerVariants; let indexAnswer = index" class="answer">
                        <div *ngIf="checkValueAnswer(answer, indexAnswer)" class="selected_answer">{{alphabet[indexAnswer]}}. {{selectAnswer.answer}}</div>
                        <div *ngIf="!checkValueAnswer(answer, indexAnswer)" class="no_selected_answer">{{alphabet[indexAnswer]}}. {{selectAnswer.answer}}</div>
                    </div>
                </div>
            </div>
            <!---------------------------------CARD--------------------------------->
            <div *ngIf="this.questionsList![i].questionType == 'MULTIPLE_CHOICE'" class="card_answer">
                <div class="title-of-question"> [{{i+1}}] <mat-icon color="primary" fontSet="material-icons-outlined">
                    library_add_check</mat-icon>
                    <div class="title">{{answer.question}}</div>
                </div>
                <div class="answer_list">
                    <div *ngFor="let selectAnswer of answer.answerVariants; let indexAnswer = index" class="answer">


                        <div *ngIf="checkValueAnswer(answer, indexAnswer)" class="selected_answer">{{alphabet[indexAnswer]}}. {{selectAnswer.answer}}</div>
                        <div *ngIf="!checkValueAnswer(answer, indexAnswer)" class="no_selected_answer">{{alphabet[indexAnswer]}}. {{selectAnswer.answer}}</div>

                    </div>
                </div>
            </div>
            <!---------------------------------CARD--------------------------------->
            <div *ngIf="this.questionsList![i].questionType == 'TEXT'" class="card_answer">
                <div class="title-of-question"> [{{i+1}}] <mat-icon color="primary" fontSet="material-icons-outlined">
                    notes</mat-icon>
                    <div class="title">{{answer.question}}</div>
                </div>
                <div class="answer_list">
                    <div class="answer">
                        {{answer.correct}}
                    </div>
                </div>
            </div>
            <!---------------------------------CARD--------------------------------->
            <div *ngIf="this.questionsList![i].questionType == 'RATING'" class="card_answer">
                <div class="title-of-question"> [{{i+1}}] <mat-icon color="primary" fontSet="material-icons-outlined">
                    star_half</mat-icon>
                    <div class="title">{{answer.question}}</div>
                </div>
                <div class="answer_list star_list_answer">
                    {{answer.correct}}.0
                    <div class="answer" [ngSwitch]="answer.correct">
                        <div *ngSwitchCase="0" class="row_stars">
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                        </div>
                        <div *ngSwitchCase="1" class="row_stars">
                            <mat-icon class="rate">star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                        </div>
                        <div *ngSwitchCase="2" class="row_stars">
                            <mat-icon class="rate">star</mat-icon>
                            <mat-icon class="rate">star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                        </div>
                        <div *ngSwitchCase="3" class="row_stars">
                            <mat-icon class="rate">star</mat-icon>
                            <mat-icon class="rate">star</mat-icon>
                            <mat-icon class="rate">star</mat-icon>
                            <mat-icon>star</mat-icon>
                            <mat-icon>star</mat-icon>
                        </div>
                        <div *ngSwitchCase="4" class="row_stars">
                            <mat-icon class="rate">star</mat-icon>
                            <mat-icon class="rate">star</mat-icon>
                            <mat-icon class="rate">star</mat-icon>
                            <mat-icon class="rate">star</mat-icon>
                            <mat-icon>star</mat-icon>
                        </div>
                        <div *ngSwitchCase="5" class="row_stars">
                            <mat-icon class="rate">star</mat-icon>
                            <mat-icon class="rate">star</mat-icon>
                            <mat-icon class="rate">star</mat-icon>
                            <mat-icon class="rate">star</mat-icon>
                            <mat-icon class="rate">star</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
            <!---------------------------------CARD--------------------------------->
        </div>
    </div>
    <div *ngIf="!this.answersSumNumber" class="no_stats card_answer">
        Brak uzyskanych odpowiedzi
    </div>
</div>
