<div class="card_answer_container">
    <div *ngFor="let answer of answers.questions" class="card_answer">
        <div class="title-of-question"> [1] <mat-icon color="primary" fontSet="material-icons-outlined">
            check_box</mat-icon>
            <div class="title">Testowe pytanie, co na śniadanie?</div>
        </div>
        <div class="answer_list">
            <!-- <div *ngFor="let answer of questionnaire.answer; let indexAnswer = index" class="answer">
                {{alphabet[indexAnswer]}}. {{answer.title}}
            </div> -->
            <p>A. fajna odpowiedź 1</p>
            A. fajna odpowiedź 1
        </div>
    </div>
</div>
