<mat-card>
    <mat-card-content class="form-container">
        <div class="title-of-question">
            <div class="number-and-icon">
                [{{index+1}}]
                <mat-icon color="primary" fontSet="material-icons-outlined">star_half</mat-icon>
            </div>
            <!-- <div class="question">{{question}}</div> -->
            <div class="question">{{listOfQuestionToShow.question}}</div>
        </div>
        <div>
            <mat-form-field appearance="outline" >
                <mat-label>podaj cyfrę</mat-label>
                <input matInput placeholder="Placeholder" type="number">
            </mat-form-field>
        </div>
    </mat-card-content>
</mat-card>